{% extends 'base.html' %}
{% load static %}
{% block title %}
Добавление объявления
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}}

{% block content %}

<h1>Добавление объявления</h1>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<form action="{% url 'add_ads' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

      {{ form.media }}
    <button type="submit" class="btn btn-primary btn-block">Добавить объявление</button>
</form>

{% endblock %}